html { scroll-behavior: smooth; }

@font-face {
    font-family: Forum; /* Имя шрифта */
    src: url(fonts/Forum-regular.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: Eagle; /* Имя шрифта */
    src: url(fonts/EagleLake-Regular.ttf); /* Путь к файлу со шрифтом */
   }

body {
    background-color: lightgray;
	display: block;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.03em;
}

a{
	text-decoration: none;
	color: inherit;


}

a:hover{
	color: black;

}

.navbar{
    background: #292929;
    height: 70px;
    padding: 0;
}

.container-lg{
    height: 100%;
}

.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    width: 160px;
    height: 100%;
}

.user-login{
    margin-left: auto;
    margin-right: 20px;
}

.buttons{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.btn-s{
    background: #FFFFFF;
    border-radius: 5px;
    color: black;
    padding: 7px 15px;
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.btn-exit{
    background: #ffdddd;
}

@media (hover: hover) {
    .btn-s:hover{
        background: lightgray;
        border-radius: 5px;
    }

    .news__item:hover{
        transform: scale(1.01);
        box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.25);
    }
}


.btn-s:active{
    color: white !important;
}

.news{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 30px;
}

.main-container{
    background: white;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.news__item{
    display: flex;

    background: #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    max-height: 210px;

    transition: 0.3s cubic-bezier(.68,-0.55,.27,1.55);
    transition: 0.15s ease-in-out;
}

.news__foto{
    max-width: 50%;
}

.news__foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.news__content{
    padding: 13px;
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    row-gap: 20px;
    width: 100%;
}

.news__content h2{
    font-size: 24px;
    font-weight: 500;

    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.annotation{
    font-size: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.news__info{
    font-size: 15px;
    color: #595959;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.info-item{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.news__info-right{
    display: flex;
    align-items: center;
    column-gap: 10px;
}


@media (max-width: 992px) {
    .news{
        grid-template-columns: 1fr;
    }

    .buttons{
        padding-right: 12px;
    }
}

@media (max-width: 576px) {
    .navbar{
        height: 55px;
    }

    .navbar-brand{
        width: 25%;
    }

    .navbar-brand img{
        width: 30%;
    }

    .news__item{
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }

    .news__foto img{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .news__content {
        padding: 8px;
        grid-template-rows: 24px 1fr 24px;
        row-gap: 10px;
    }

    .news__content h2{
        font-size: calc(20px + (24 - 20)*((100vw - 320px)/(576 - 320)));
    }

    .annotation{
        font-size: calc(14px + (18 - 14)*((100vw - 320px)/(576 - 320)));
    }

    .news__info{
        font-size: calc(12px + (15 - 12)*((100vw - 320px)/(576 - 320)));
    }

    .info-item{
        column-gap: 3px;
    }

    .info-item img{
        width: 12px;
    }

    .btn {
        border-radius: 3px;
        padding: 5px 11px;
        font-size: 14px;
    }
}