
<header class="navbar">
    <div class="container-lg p-0">
        <a href="/" class="navbar-brand"><img src="{{asset('img/logo.png')}}" alt=""></a>
        <div class="buttons">
                <a href="/"><input type="button" class="btn btn-s btn-reg" value="Назад"></a>
{#                <a href="/auth"><input type="button" class="btn btn-auth" value="Вход"></a>#}

        </div>
    </div>
</header>